<h1>Breweries</h1>

<% if @breweries %>
  <ul>
    <% @breweries.each do |brewery| %>
      <li><%= brewery.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>Sorry. No breweries loaded yet.</p>
<% end %>
<p><%= link_to "Add Brewery", new_brewery_path %></p>
